@import url('https://fonts.googleapis.com/css2?family=Dawning+of+a+New+Day&family=Poppins:ital,wght@0,300;1,100;1,200;1,300&family=Press+Start+2P&display=swap');
*{
    font-family: 'Press Start 2P', sans-serif;
    box-sizing: border-box;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #f5f5f5;
}
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1vh;
    height: 8vh;
    margin-bottom: 10vh;
}



ul.diogoaimee{
    font-family: 'Dawning of a New Day', cursive;
    font-size: 2rem;
   
}

a{
    text-decoration: none;
    color: inherit;
}
main{
    display: flex;
    height:100% ;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(../img/gameboy.svg) no-repeat center;
    background-size: 360px 600px;
}

h2{
    margin-bottom: 2vh;
}
article p{
    margin: 1vh;
    text-align: justify;
}


span.pressStart{

    height: 50vh;
  }

span.letras{
    display: flex;
    flex-direction: column;
    font-family: 'Press Start 2P', cursive;
    color: #2c2c2c ;
    align-items: center;
    margin: 5px;
}

.aperteStart{
    font-size: 8px;
}

/*Media*/

@media (max-width: 768px){

    span.pressStart{
        height: 55vh;
    }

}