@import url('https://fonts.googleapis.com/css2?family=Dawning+of+a+New+Day&family=Poppins:ital,wght@0,300;1,100;1,200;1,300&family=Press+Start+2P&display=swap');
*{
  
    box-sizing: border-box;
    margin: 0;
}

/* .pressStart{

    height: 50vh;
  } */

.pressStart{
    font-family: 'Press Start 2P', cursive;
    display: flex;
    flex-direction: column;
    color: #2c2c2c ;
    align-items: center;
    justify-content: space-around;
    height: 190px;
    padding:30px 0;
}
.letras{
    
    margin: 5px auto;
}

.aperteStart{
    
    font-size: 8px;
}

/*Media*/

@media (max-width: 768px){

    

}